
.table_wrapper{
    background-color: burlywood;
    padding-top: 0;
    margin-left: 15%;
    margin-right: 15%;
}

.table_head{
    background-color: rgb(241, 183, 142);
    display:flex;
}

.table{
    background-color: rgb(96, 81, 226);
    display: grid;
}

.table_element{
    padding-top: 10px;
    background-color: cornsilk;
    display:grid;
    grid-template-columns: 1fr 5fr 2fr 2fr;
    border-color: darkblue;
    gap:10px;
}

.table_header{
    background-color: rgb(186, 202, 165);
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 2fr;
}

.table_parts{
    background-color:rgb(240, 243, 211);
}

.head_elements{
    display: flex;
}